include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

graft tests
graft src
global-exclude *~ *.py[cod] *.so

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
