Sphinx==3.0.3
sphinx-click==2.3.2
recommonmark==0.6.0
sphinx-issues==1.2.0
nbsphinx==0.7.0
sphinx-copybutton==0.2.11
sphinx_rtd_theme==0.4.3
sphinx-autodoc-typehints==1.10.3
autoapi==2.0.1
Click==7.1.2
