nox==2025.11.12
sphinx
sphinx-click==6.2.0
sphinx-issues
nbsphinx==0.9.8
sphinx-rtd-theme
sphinx-autodoc-typehints==3.6.0
sphinx-autoapi==3.6.1
autoapi
sphinxcontrib-apidoc
sphinx-github-changelog==1.7.1
ipython_genutils
