name: Publish to PyPI
on:
    push:
        tags:
            - "v*.*.*"
env:
  python-version: 3.13
jobs:
    publish:
        name: Publish to PyPI
        runs-on: ubuntu-latest
        permissions:
            id-token: write
        steps:
            - uses: actions/checkout@v6
              with:
                  fetch-depth: 0
                  ref: ${{ github.head_ref }}
            - name: Install uv and set the python version
              uses: astral-sh/setup-uv@v7
              with:
                python-version: ${{ env.python-version }}
                enable-cache: true
                cache-dependency-glob: "uv.lock"

            - name: Install the project
              run: uv sync --all-extras

            - name: Build and publish to pypi
              run: |
                    uv build
                    uv publish
